{{define "calc"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Sample Calculator-Golang</title>
        <style>
                
            #calc-contain{
                position: relative;
                width: 400px;
                border: 2px solid black;
                border-radius: 12px;
                margin: 0px auto;
                padding: 20px 20px 100px 20px;
            }
            #agh{
                position: relative;
                float: right;
                margin-top: 15px;
            }
            #agh p{
                font-size: 20px;
                font-weight: 900;
            }
            input[type=button] {
                background: lightGray;
                width: 20%;
                font-size: 20px;
                font-weight: 900;
                border-radius: 7px;
                margin-left: 13px;
                margin-top: 10px;
            }
            input[type=button]:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            input[type=button]:hover {
                background-color: #003300;
                color: white;
            }

            input[type=submit] {
                background: lightGray;
                width: 20%;
                font-size: 20px;
                font-weight: 900;
                border-radius: 7px;
                margin-left: 13px;
                margin-top: 10px;
            }
            input[type=submit]:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            input[type=submit]:hover {
                background-color: #003300;
                color: white;
            }

            input[type = text] {
                position: relative;
                display: block;
                width: 90%;
                margin: 5px auto;
                font-size: 20px;
                padding: 10px;
                box-shadow: 4px 0px 12px black inset;
            }
        </style>
    </head>
    <body>
        <div id='calc-contain'>
            <h3>Hello {{.Name}},</h3>
            {{if .ErrType}}<p>{{.Error}}</p>{{end}}
            <form name="calculator" action="/" method="POST">
                <input type="text" value="{{.Answer}}"name="answer" />
                <br>
                
                <input type="button" value=" 1 " onclick="calculator.answer.value += '1'" />
                <input type="button" value=" 2 " onclick="calculator.answer.value += '2'" />
                <input type="button" value=" 3 " onclick="calculator.answer.value += '3'" />
                <input type="button" value=" + " onclick="calculator.answer.value += '+'" />
                <br/>
                
                <input type="button" value=" 4 " onclick="calculator.answer.value += '4'" />
                <input type="button" value=" 5 " onclick="calculator.answer.value += '5'" />
                <input type="button" value=" 6 " onclick="calculator.answer.value += '6'" />
                <input type="button" value=" - " onclick="calculator.answer.value += '-'" />
                </br>
            
                <input type="button" value=" 7 " onclick="calculator.answer.value += '7'" />
                <input type="button" value=" 8 " onclick="calculator.answer.value += '8'" />
                <input type="button" value=" 9 " onclick="calculator.answer.value += '9'" />
                <input type="button" value=" * " onclick="calculator.answer.value += '*'" />
                </br>
            
                <input type="button" value=" c " onclick="calculator.answer.value = ''" />
                <input type="button" value=" 0 " onclick="calculator.answer.value += '0'" />
                <input type="submit" value=" = " onclick="calculator.answer.value" />
                <input type="button" value=" / " onclick="calculator.answer.value += '/'" />
                </br>    
            </form>
        </div>
    </body>
    <script>
            function isNumberKey(evt)
            {
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57 ) && (charCode < 96 || charCode > 111))
                    return false;
            
                return true;
            }
    
    
            function onlyAlphabets(e, t) {
                try {
                    if (window.event) {
                        var charCode = window.event.keyCode;
                    }
                    else if (e) {
                        var charCode = e.which;
                    }
                    else { return true; }
                    if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                        return false;
                    else
                        return true;
                }
                catch (err) {
                    alert(err.Description);
                }
            }
            </script>
</html>
{{end}}